.menu-wrapper {
  background-color: white;
  border: 2px solid lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  min-width: 6rem;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: start;
}
